<div class="container-fluid">
  <app-pagetitle title="Dashboard" ></app-pagetitle>
<div class="row">
  <div class="col-xl-12">
    <div class="row">
      
      <div *ngFor="let stat of statData" class="col-md-3">
        <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
      
      </div>
    </div>
  </div>
    <div class="col-xl-8">
      
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <div class="float-right d-none d-md-inline-block">
            
          </div>
          <h4 class="card-title mb-4">Account & Monthly Recurring Revenue Growth</h4>
          <div class="card-body border-top text-center">
            <div class="row">
              <div class="col-sm-6" style="text-align:left;">
                <div class="d-inline-flex">
                  <h5 class="mr-2">$620,076</h5>
                  <!-- <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                  </div> -->
                </div>
                <h6 style="font-size: smaller;">MRR GROWTH</h6>
                <p style="font-size: x-small;">Measure how fast you are growing monthly<br> recurring revenue.<a href="" style="font-size: small;">learn more</a></p>
              </div>
  
              <div class="col-sm-6"  style="text-align:left;">
                <div class="mt-4 mt-sm-0">
                  <div class="d-inline-flex">
                    <h5 class="mr-2">$1,200</h5>
                    <!-- <div class="text-success">
                      <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                    </div> -->
                  </div>
                  <h6 style="font-size: smaller;">AVG. MRR/CUSTOMER GROWTH</h6>
                <p style="font-size: x-small;">The revenue generated per account on a monthly or <br>yearly basis.<a href="" style="font-size: small;">learn more</a></p>
                  <div class="d-inline-flex">
                    
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueChart.series" [chart]="revenueChart.chart"
              [legend]="revenueChart.legend" [colors]="revenueChart.colors" [labels]="revenueChart.labels"
              [stroke]="revenueChart.stroke" [plotOptions]="revenueChart.plotOptions">
            </apx-chart>
          </div>
        </div>

        
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="float-right">
            <select class="custom-select custom-select-sm">
              <option selected>Apr</option>
              <option value="1">Mar</option>
              <option value="2">Feb</option>
              <option value="3">Jan</option>
            </select>
          </div>
          <h4 class="card-title mb-4">Account Retention</h4>

          <apx-chart dir="ltr" class="apex-charts" [series]="salesAnalytics.series" [chart]="salesAnalytics.chart"
            [legend]="salesAnalytics.legend" [colors]="salesAnalytics.colors" [labels]="revenueChart.labels"
            [dataLabels]="salesAnalytics.dataLabels" [plotOptions]="salesAnalytics.plotOptions">
          </apx-chart>
          <div class="row">
            <div class="col-6">
              <div class="text-center mt-4">
                <h5>${{RetentionDetails[0].Expansions}}</h5>
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i>Expansions
                </p>
                
                
              </div>
              <p style="font-size: x-small;">Customers who have upgraded the level of your products or service</p>
            </div>
            <div class="col-6">
              <div class="text-center mt-4">
                <h5>${{RetentionDetails[0].Cancellation}}</h5>
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i> Cancelations
                </p>
               
              </div>
              <p style="font-size: x-small;">Customers who have ended their subcription with you</p>
            </div>
            <!-- <div class="col-4">
              <div class="text-center mt-4">
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-warning font-size-10 mr-1"></i> Product C
                </p>
                <h5>42 %</h5>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-right" ngbDropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
              aria-expanded="false" ngbDropdownToggle>
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Profit</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>

          <h4 class="card-title mb-4">SALES REVENUE</h4>
          <div style="height: 196px;" leaflet [leafletOptions]="options">
          </div>

          <div class="table-responsive" style="height: 255px;">
            <table class="table table-centered" >
              <thead class="thead-light" >
                <tr>
                  <th>STATES</th>
                  <th>ORDERS</th>
                  <th>EARNINGS</th>
                                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of SalesRevenue">
                  <td>{{item.location}}</td>
                  <td>{{item.sales}}</td>
                  <td>{{item.earning}}</td>
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        
         
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <!-- <div class="dropdown float-right" ngbDropdown>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" ngbDropdownToggle
              data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
             
              <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
              
              <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
              
              <a href="javascript:void(0);" class="dropdown-item">Profit</a>
              
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div> -->
          <div class="row">
            <div class="col-xl-8">
             <h4 >Your Most Recent Earnings</h4>
             <p>Your sales and referal earnings over the last 30 days </p>
            </div>
            <div class="col-xl-2">
             <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Range
             </label>
             <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> Period
              </label>
            </div>
          </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-12 col-md-12">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="term" /></label></div>
            </div> -->
            
            <div class="col-sm-4"  style="text-align:left;">
              <div class="mt-4 mt-sm-0">
                
                <div class="d-inline-flex">
                  
                  <i class='fas fa-chart-bar fa-3x' style="color:rgb(139, 238, 233);"></i>
                  
                  
                  <!-- <div class="text-success">
                    <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                  </div> -->
                </div>
                <h6 style="font-size: smaller;">GROSS EARNINGS</h6>
                <h5 class="mr-2">$1,958,104</h5>
                
              </div>
            </div>
  
              <div class="col-sm-4"  style="text-align:left;">
                <div class="mt-4 mt-sm-0">
                  
                  <div class="d-inline-flex">
                    
                    <i class='fas fa-chart-bar fa-3x' style="color:pink;"></i>
                    
                    
                    <!-- <div class="text-success">
                      <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                    </div> -->
                  </div>
                  <h6 style="font-size: smaller;">TAX WITHHELD</h6>
                  <h5 class="mr-2">$234,769.50</h5>
                  
                </div>
              </div>
              <div class="col-sm-4"  style="text-align:left;">
                <div class="mt-4 mt-sm-0">
                  
                  <div class="d-inline-flex">
                    
                    <i class='fas fa-chart-bar fa-3x' style="color:lightskyblue;" ></i>
                    
                    
                    <!-- <div class="text-success">
                      <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
                    </div> -->
                  </div>
                  <h6 style="font-size: smaller;">NET EARNINGS</h6>
                  <h5 class="mr-2">$1,608,469.50</h5>
                  
                </div>
              </div>
              
            
           
          </div>
          <div class="table-responsive" style="height: 200px;">
            <table class="table table-centered">
              <thead class="thead-light">
                <tr>
                  
                  <th>Date</th>
                  <th>Sales Count</th>
                  <th>Gross Earnings</th>
                  <th>Tax Withheld</th>
                  <th>Net Earnings</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of RecentEarnings">
                  <td>{{item.dat}}</td>
                  <td>{{item.SalesCount}}</td>
                  <td>{{item.GrossEarnings}}</td>
                  <td>{{item.TazWithhheld}}</td>
                  <td>{{item.NetEarnings}}</td>
                  <!-- <td>
                    <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': item.paymentstatus === 'Chargeback',
                      'badge-soft-success':item.paymentstatus === 'Paid',
                      'badge-soft-warning': item.paymentstatus === 'Unpaid'}">{{item.paymentstatus}}
                    </div>
                  </td>
                  <td>
                    <a href="javascript:void(0);" class="mr-3 text-primary" ngbTooltip="Edit"><i
                        class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" ngbTooltip="Delete"><i
                        class="mdi mdi-trash-can font-size-18"></i></a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card " style="height: 100px;">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
              </div>

              <div class="col-xl-10">
                <h6>Download your earningsin CSV format</h6>
                <p style="font-size: small;">Open it in a spreadsheet and perform your own calculations, graphing etc. The CSV file contains additional details, such as the buyer location</p>
              </div>   


           </div>
  
          </div>    
       </div>
      </div>  
    </div>
  </div>
  <!-- end row -->

  

  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="height: 465px;">
        <div class="card-body">
          
          <div class="dropdown float-right" ngbDropdown>
            <span style='font-size:20px;'>&#8634;</span>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
              aria-expanded="false" ngbDropdownToggle>
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Profit</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>

          <h4 class="card-title mb-3">Transaction History</h4>

          <div>
            <!-- <div class="text-center">
              <p class="mb-2">Total sources</p>
              <h4>$ 7652</h4>
              <div class="text-success">
                <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
              </div>
            </div> -->

            <div class="table-responsive mt-4">
              <table class="table table-hover mb-0 table-centered table-nowrap">
                <tbody>
                  <tr>
                    <td style="width: 60px;">
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light">
                          <i class="fa fa-bus" aria-hidden="true" style="color: rgb(240, 203, 135);"></i>
                        </div>
                      </div>
                    </td>

                    <td>
                      <h5 class="font-size-14 mb-0">Process Delivery To #{{TransactionDetails[1].customerid}} </h5>
                    </td>
                    <td>
                      <div id="spak-chart1"></div>
                    </td>
                    <td>
                      <p class="text-muted mb-0">$ {{TransactionDetails[1].transactionAmount}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="avatar-xs" >
                        <div class="avatar-title rounded-circle bg-light"  >
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"  class="bi bi-check" viewBox="0 0 16 16" style="color:rgb(9, 194, 138)"  >
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                          </svg>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Payment From # {{TransactionDetails[0].customerid}}</h5>
                    </td>

                    <td>
                      <div id="spak-chart2"></div>
                    </td>
                    <td>
                      <p class="text-muted mb-0">$ {{TransactionDetails[0].transactionAmount}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light">
                          <i class="fa fa-times" aria-hidden="true" style="color: rgb(218, 0, 0)"></i>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Payment Failed From # {{TransactionDetails[2].customerid}}</h5>
                    </td>
                    <td>
                      <div id="spak-chart3"></div>
                    </td>
                    <td>
                      <p class="text-muted mb-0">$ {{TransactionDetails[2].transactionAmount}}</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16" style="color: slateblue; ">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                         
                            
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">Process Refund To # {{TransactionDetails[3].customerid}}</h5>
                    </td>
                    <td>
                      <div id="spak-chart3"></div>
                    </td>
                    <td>
                      <p class="text-muted mb-0">$ {{TransactionDetails[3].transactionAmount}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-center mt-4">
              <a href="javascript: void(0);" class="btn btn-primary btn-sm">View all transactions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4">
      <div class="card" style="height: 465px;">
        <div class="card-body">
          
          <div class="dropdown float-right" ngbDropdown>
            <span style='font-size:20px;'>&#8634;</span>
            <a href="javascript: void(0);" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
              aria-expanded="false" ngbDropdownToggle>
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Profit</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>

          <h4 class="card-title mb-3">New Customers</h4>

          <div>
            <!-- <div class="text-center">
              <p class="mb-2">Total sources</p>
              <h4>$ 7652</h4>
              <div class="text-success">
                <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %
              </div>
            </div> -->

            <div class="table-responsive mt-4">
              <table class="table table-hover mb-0 table-centered table-nowrap">
                <tbody>
                  <tr>
                    <td style="width: 60px;">
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: rgb(71, 70, 70);">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                      </div>
                    </td>

                    <td>
                      <h5 class="font-size-14 mb-0">{{CustomerNames[0].customerName}}</h5>
                    </td>
                    <td>
                      <div id="spak-chart1"></div>
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-left: 14px;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>


                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="margin-left: 10px;">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="avatar-xs" >
                        <div class="avatar-title rounded-circle bg-light"  >
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: rgb(71, 70, 70);">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">{{CustomerNames[1].customerName}}</h5>
                    </td>

                    <td>
                      <div id="spak-chart2"></div>
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-left: 14px;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>


                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="margin-left: 10px;">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: rgb(71, 70, 70);">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">{{CustomerNames[2].customerName}}</h5>
                    </td>
                    <td>
                      <div id="spak-chart3"></div>
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-left: 14px;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>


                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="margin-left: 10px;">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="avatar-xs">
                        <div class="avatar-title rounded-circle bg-light" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: rgb(71, 70, 70);">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                            
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5 class="font-size-14 mb-0">{{CustomerNames[3].customerName}}</h5>
                    </td>
                    <td>
                      <div id="spak-chart3"></div>
                    </td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="margin-left: 14px;">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>


                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="margin-left: 10px;">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="text-center mt-4">
              <a href="javascript: void(0);" class="btn btn-primary btn-sm">View More Customers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="height: 465px;">
        <div class="card-body">
          <h4 class="card-title mb-4">Real-Time Sales</h4>
          <div class="row">
            <div class="col-6">
              <div class="text-center mt-4">
                <h5>${{RealTimeSales[0].TotalSales}} <i class="fas fa-arrow-up" style="color: rgb(0, 199, 0); font-size: 10px;">0.20%</i></h5>
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i>Total Sales
                </p>
                
                
              </div>
              
            </div>
            <div class="col-6">
              <div class="text-center mt-4">
                <h5>${{RealTimeSales[0].avgsalesperday}} <i class="fas fa-arrow-down" style="color:rgb(196, 4, 4); font-size: 10px;">1.04%</i></h5>
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i> Avg. Sales Per Day
                </p>
               
              </div>
              
            </div>
            <!-- <div class="col-4">
              <div class="text-center mt-4">
                <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-warning font-size-10 mr-1"></i> Product C
                </p>
                <h5>42 %</h5>
              </div>
            </div> -->
          </div>

          <apx-chart dir="ltr" class="apex-charts" [series]="realTime.series" [chart]="realTime.chart"
            [legend]="realTime.legend" [colors]="realTime.colors" [labels]="realTime.labels"
            [dataLabels]="realTime.dataLabels" [plotOptions]="realTime.plotOptions">
          </apx-chart>

        </div>
      </div>
    </div>      

    <!-- <div class="col-lg-4">
      <div class="card">
        <div class="card-body border-bottom">

          <div class="user-chat-border">
            <div class="row">
              <div class="col-md-5 col-9">
                <h5 class="font-size-15 mb-1">Frank Vickery</h5>
                <p class="text-muted mb-0"><i class="mdi mdi-circle text-success align-middle mr-1"></i> Active now</p>
              </div>
              <div class="col-md-7 col-3">
                <ul class="list-inline user-chat-nav text-right mb-0">
                  <li class="list-inline-item">
                    <div class="dropdown" ngbDropdown>
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <i class="mdi mdi-magnify"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-md p-0" ngbDropdownMenu>
                        <form class="p-2">
                          <div class="search-box">
                            <div class="position-relative">
                              <input type="text" class="form-control rounded bg-light border-0" placeholder="Search...">
                              <i class="mdi mdi-magnify search-icon"></i>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                  <li class="list-inline-item d-none d-sm-inline-block">
                    <div class="dropdown" ngbDropdown>
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <i class="mdi mdi-cog"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="#">View Profile</a>
                        <a class="dropdown-item" href="#">Clear chat</a>
                        <a class="dropdown-item" href="#">Muted</a>
                        <a class="dropdown-item" href="#">Delete</a>
                      </div>
                    </div>
                  </li>

                  <li class="list-inline-item">
                    <div class="dropdown" ngbDropdown>
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                        <i class="mdi mdi-dots-horizontal"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chat-widget">
            <div class="chat-conversation">
              <perfect-scrollbar style="height: 292px;">
                <ul class="list-unstyled mb-0 pr-3" *ngFor="let data of chatData"
                  [ngClass]="{ 'right': data.align === 'right' }">
                  <li *ngIf="!data.text">
                    <div class="conversation-list">
                      <div class="chat-avatar">
                        <img src="{{data.image}}" alt="">
                      </div>
                      <div class="ctext-wrap">
                        <div class="conversation-name">{{data.name}}</div>
                        <div class="ctext-wrap-content">
                          <p class="mb-0">
                            {{data.message}}
                          </p>
                        </div>
                        <p class="chat-time mb-0"><i class="mdi mdi-clock-outline align-middle mr-1"></i> {{data.time}}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li *ngIf="data.text">
                    <div class="chat-day-title">
                      <span class="title">{{data.text}}</span>
                    </div>
                  </li>
                </ul>
              </perfect-scrollbar>
            </div>
          </div>
        </div>
        <div class="p-3 chat-input-section border-top">
          <form (ngSubmit)="messageSave()" [formGroup]="formData" class="row">
            <div class="col">
              <div class="position-relative">
                <input type="text" class="form-control chat-input" placeholder="Enter Message..."
                  formControlName="message" [ngClass]="{'is-invalid': chatSubmit && form.message.errors}">
                <div *ngIf="chatSubmit && form.message.errors" class="invalid-feedback">
                  <span *ngIf="form.message.errors.required">This value is required.</span>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span
                  class="d-none d-sm-inline-block mr-2">Send</span> <i class="mdi mdi-send"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    
  </div>
  <!-- end row -->
</div>
